body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.page_content_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elements {
    border: 5px solid #fff;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    text-align: center;
}

.elements > div {
    margin: 100px auto 25px;
    text-transform: uppercase;
    font-size: 18px;
    border: 2px solid #fff;
    width: fit-content;
    padding: 4px 7px; 
}

.elements div:last-child {
    letter-spacing: 15px;
}

h1 div {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 50px;
}

h1::after {
    content: '';
    width: 60px;
    height: 3px;
    background: #fff;
    display: inline-block;
    margin-top: 35px;
}

p {
    width: 400px;
    margin: 30px auto 0px;
    font-size: 15px;
}

